* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "GothamMedium";
  src: local("Gotham"), url("./assets/fonts/Gotham-Font/GothamBook.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "GothamBook";
  src: local("Gotham"), url("./assets/fonts/Gotham-Font/GothamMedium.ttf") format("truetype");
  font-weight: light;
}

@font-face {
  font-family: "iciel";
  src: local("iciel"),
    url("./assets/fonts/iciel-gotham-cufonfonts/icielgothammediumregular.otf") format("truetype");
  font-weight: light;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* font-family: "Gotham", sans-serif; */
}
