* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Gotham";
  src: local("Gotham"), url("./assets/fonts/Gotham-Font/GothamMedium_1.ttf") format("truetype");
  font-weight: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Gotham", sans-serif;
}
